.exchange-audi-parent {
    padding: 30px 40px 20px;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
.audit-flex-box{
    display: flex;
}